@model IEnumerable<API.Dto.Seguimientos.Salida.DatosSeguimientos>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
    <br />
    <h2>Gestión de Seguimientos</h2>

    <div class="container-fluid">
        <br />
        <div style="width:100%; margin:0 auto;">
            <button id='btnAbrirDialogAgregarSeguimiento' class="btn btn-primary" style="background-color: #1A2DF3; width:10%">Agregar</button>
            <br /><br />
            <table class="display table table-bordered" id="SeguimientosTabla" style="width:100%">
                <thead>
                    <tr>
                        <th>Entrega ID</th>
                        <th>Fecha Estado</th>
                        <th>Estado</th>
                        <th>Descripción</th>
                        <th>Ubicación</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id='EntregaParam'>
                                @Html.DisplayFor(modelItem => item.EntregaID)
                            </td>
                            <td id='FechaParam'>
                                @Html.DisplayFor(modelItem => item.FechaEstado)
                            </td>
                            <td id='EstadoParam'>
                                @Html.DisplayFor(modelItem => item.estado)
                            </td>
                            <td id='DescripcionParam'>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td id='UbicacionParam'>
                                @Html.DisplayFor(modelItem => item.Ubicacion)
                            </td>
                            <td class="text-center">
                                <a name="btnEditarSeguimiento" data-id="@item.SeguimientoID" style="color: #1A2DF3"><i class="fa fa-edit"></i></a>
                                <a name="btnEliminarSeguimiento" data-id="@item.SeguimientoID" style="color: #1A2DF3"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div id="modalAgregarSeguimiento" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Seguimiento</h4>
                </div>
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <div>
                        <label for="IDAgregarSeguimientoCodigo">ID Seguimiento:</label>
                        <input class="form-control" id="IDAgregarSeguimientoCodigo" disabled placeholder="Sin asignar">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarSeguimientoEntrega">ID de Entrega:</label>
                        <input class="form-control" id="IDAgregarSeguimientoEntrega" type="number">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarSeguimientoFecha">Fecha de Estado:</label>
                        <input class="form-control" id="IDAgregarSeguimientoFecha" type="datetime-local">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarSeguimientoEstado">Estado:</label>
                        <select id="IDAgregarSeguimientoEstado" class="select form-control">
                            <option value="Pendiente" selected>Pendiente</option>
                            <option value="En tránsito">En tránsito</option>
                            <option value="Entregado">Entregado</option>
                            <option value="Cancelado">Cancelado</option>
                        </select>
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarSeguimientoDescripcion">Descripción:</label>
                        <textarea class="form-control" id="IDAgregarSeguimientoDescripcion" rows="3"></textarea>
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarSeguimientoUbicacion">Ubicación:</label>
                        <input class="form-control" id="IDAgregarSeguimientoUbicacion">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarSeguimientoLatitud">Latitud:</label>
                        <input class="form-control" id="IDAgregarSeguimientoLatitud" type="number" step="0.000001">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarSeguimientoLongitud">Longitud:</label>
                        <input class="form-control" id="IDAgregarSeguimientoLongitud" type="number" step="0.000001">
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnCancelarSeguimiento' type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button id='btnAgregarSeguimiento' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalVentanaExitosa" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <p>Transacción realizada exitosamente</p>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnMensajeExitoso' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalVentanaEliminarSeguimiento" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <p>¿Está seguro que desea eliminar el Seguimiento?</p>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnAceptarEliminarSeguimientoConfirmacion' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                    <button id='btnCancelarEliminarSeguimientoConfirmacion' type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @section scripts
    {
        <script src="~/js/Seguimiento.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>

    }
</main>