@model IEnumerable<API.Dto.Pago.Salida.DatosPago>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
    <br />
    <h2>Gestión de Pagos</h2>

    <div class="container-fluid">
        <br />
        <div style="width:100%; margin:0 auto;">
            <button id='btnAbrirDialogAgregarPago' class="btn btn-primary" style="background-color: #1A2DF3; width:10%">Agregar</button>
            <br /><br />
            <table class="display table table-bordered" id="PagosTabla" style="width:100%">
                <thead>
                    <tr>
                        <th>Entrega ID</th>
                        <th class="text-end">Monto</th>
                        <th>Método de Pago</th>
                        <th>Fecha de Pago</th>
                        <th class="text-center">Estado</th>
                        <th>Referencia</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id='EntregaParam'>
                                @Html.DisplayFor(modelItem => item.EntregaID)
                            </td>
                            <td id='MontoParam' class="text-end">
                                @item.Monto.ToString("N2")
                            </td>
                            <td id='MetodoParam'>
                                @Html.DisplayFor(modelItem => item.MetodoPago)
                            </td>
                            <td id='FechaParam'>
                                @Html.DisplayFor(modelItem => item.FechaPago)
                            </td>
                            <td id='EstadoParam' class="text-center">
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td id='ReferenciaParam'>
                                @Html.DisplayFor(modelItem => item.Referencia)
                            </td>
                            <td class="text-center">
                                <a name="btnEditarPago" data-id="@item.PagoID" style="color: #1A2DF3"><i class="fa fa-edit"></i></a>
                                <a name="btnEliminarPago" data-id="@item.PagoID" style="color: #1A2DF3"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div id="modalAgregarPago" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Pago</h4>
                </div>
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <div>
                        <label for="IDAgregarPagoCodigo">ID Pago:</label>
                        <input class="form-control" id="IDAgregarPagoCodigo" disabled placeholder="Sin asignar">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarPagoEntrega">ID de Entrega:</label>
                        <input class="form-control" id="IDAgregarPagoEntrega" type="number">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarPagoMonto">Monto:</label>
                        <input class="form-control" id="IDAgregarPagoMonto" type="number" step="0.01">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarPagoMetodo">Método de Pago:</label>
                        <select id="IDAgregarPagoMetodo" class="select form-control">
                            <option value="Efectivo" selected>Efectivo</option>
                            <option value="Tarjeta de Crédito">Tarjeta de Crédito</option>
                            <option value="Tarjeta de Débito">Tarjeta de Débito</option>
                            <option value="Transferencia">Transferencia</option>
                        </select>
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarPagoFecha">Fecha de Pago:</label>
                        <input class="form-control" id="IDAgregarPagoFecha" type="datetime-local">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarPagoEstado">Estado:</label>
                        <select id="IDAgregarPagoEstado" class="select form-control">
                            <option value="Pendiente">Pendiente</option>
                            <option value="Completado" selected>Completado</option>
                            <option value="Rechazado">Rechazado</option>
                        </select>
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarPagoReferencia">Referencia:</label>
                        <input class="form-control" id="IDAgregarPagoReferencia">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarPagoComprobante">URL del Comprobante:</label>
                        <input class="form-control" id="IDAgregarPagoComprobante">
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnCancelarPago' type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button id='btnAgregarPago' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalVentanaExitosa" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <p>Transacción realizada exitosamente</p>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnMensajeExitoso' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalVentanaEliminarPago" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <p>¿Está seguro que desea eliminar el Pago?</p>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnAceptarEliminarPagoConfirmacion' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                    <button id='btnCancelarEliminarPagoConfirmacion' type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @section scripts
    {
        <script src="~/js/Pago.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>

    }
</main>