@model IEnumerable<API.Dto.Auditoria.Salida.DatosAuditoria>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
    <br />
    <h2>Gestión de Auditorías</h2>

    <div class="container-fluid">
        <br />
        <div style="width:100%; margin:0 auto;">
            <button id='btnAbrirDialogAgregarAuditoria' class="btn btn-primary" style="background-color: #1A2DF3; width:10%">Agregar</button>
            <br /><br />
            <table class="display table table-bordered" id="AuditoriasTabla" style="width:100%">
                <thead>
                    <tr>
                        <th>Tabla</th>
                        <th>Operación</th>
                        <th>Usuario ID</th>
                        <th>Fecha Operación</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id='TablaParam'>
                                @Html.DisplayFor(modelItem => item.Tabla)
                            </td>
                            <td id='OperacionParam'>
                                @Html.DisplayFor(modelItem => item.Operacion)
                            </td>
                            <td id='UsuarioParam'>
                                @Html.DisplayFor(modelItem => item.Usuario_id)
                            </td>
                            <td id='FechaParam'>
                                @Html.DisplayFor(modelItem => item.Fecha_operacion)
                            </td>
                            <td class="text-center">
                                <a name="btnEditarAuditoria" data-id="@item.Auditoria_id" style="color: #1A2DF3"><i class="fa fa-edit"></i></a>
                                <a name="btnEliminarAuditoria" data-id="@item.Auditoria_id" style="color: #1A2DF3"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div id="modalAgregarAuditoria" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Auditoría</h4>
                </div>
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <div>
                        <label for="IDAgregarAuditoriaCodigo">ID Auditoría:</label>
                        <input class="form-control" id="IDAgregarAuditoriaCodigo" disabled placeholder="Sin asignar">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarAuditoriaTabla">Tabla:</label>
                        <input class="form-control" id="IDAgregarAuditoriaTabla">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarAuditoriaOperacion">Operación:</label>
                        <input class="form-control" id="IDAgregarAuditoriaOperacion">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarAuditoriaUsuario">ID de Usuario:</label>
                        <input class="form-control" id="IDAgregarAuditoriaUsuario" type="number">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarAuditoriaFechaOperacion">Fecha de Operación:</label>
                        <input class="form-control" id="IDAgregarAuditoriaFechaOperacion" type="datetime-local">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarAuditoriaRegistroAnterior">Registro Anterior:</label>
                        <textarea class="form-control" id="IDAgregarAuditoriaRegistroAnterior" rows="3"></textarea>
                    </div>
                    <div style="margin-top: 3%">
                        <label for="IDAgregarAuditoriaRegistroNuevo">Registro Nuevo:</label>
                        <textarea class="form-control" id="IDAgregarAuditoriaRegistroNuevo" rows="3"></textarea>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnCancelarAuditoria' type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button id='btnAgregarAuditoria' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalVentanaExitosa" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <p>Transacción realizada exitosamente</p>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnMensajeExitoso' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalVentanaEliminarAuditoria" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <p>¿Está seguro que desea eliminar la Auditoría?</p>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnAceptarEliminarAuditoriaConfirmacion' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                    <button id='btnCancelarEliminarAuditoriaConfirmacion' type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @section scripts
    {
        <script src="~/js/Auditoria.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>

    }
</main>